:root {
    --maincolor: #003459;
    --secondaryColor: #007ea7;
  
    --borderColor: #00a8e8;
  
    --mainText: #00171f;
    --secondaryText: #ffffff;

    --backgroundcolor: #003459;
  
    --themeDotBorder: #ffffff;
  
    --previewBg: rgba(8, 46, 97, 0.8);
    --previewShadow: #00a8e8;
  
    --buttonColor: #00a8e8;
  
  }