:root {
    --maincolor:#0b0c10;
    --secondaryColor: #1f2833;
  
    --borderColor: #45a29e;
  
    --mainText: #66fcf1;
    --secondaryText: #c5c6c7;

    --backgroundcolor: #0b0c10;
  
    --themeDotBorder: #45a29e;
  
    --previewBg: rgb(25, 39, 52, 0.8);
    --previewShadow: #45a29e;
  
    --buttonColor: #45a29e;
  
  }