/* ====General==== */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

:root {
  --maincolor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: black;

  --mainText: black;
  --secondaryText: grey;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Fjalla One", sans-serif;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Comfortaa", cursive;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

/* ====Nav Bar==== */

.primary-header {
  align-items: center;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl(0 0% 0% / 0.5);
}

/* @supports lets you add different functions depending on browser support systems */
@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
  }
}

a:visited {
  text-decoration: none;
}
.primary-navigation a {
  text-decoration: none;
  color: #c20114;
}

.primary-navigation a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.75rem;
}

@media (max-width: 35em) {
  .primary-navigation {
    --gap: 2em;

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(30vh, 10rem) 2em;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: url("https://img.icons8.com/ios-filled/24/000000/sidebar-menu.png");
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2em;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("https://img.icons8.com/ios/24/000000/sidebar-menu.png");
  }
}

@media (min-width: 35em) and (max-width: 55em) {
  .primary-navigation a > span[aria-hidden] {
    display: none;
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    --gap: 3rem;
    padding-block: 2rem;
    padding-inline: clamp(3rem, 8vw, 10rem);
  }
}

/* ====Main Page==== */

.greeting-wrapper {
  display: grid;

  text-align: center;
  align-content: center;

  border: 2px dashed lightcoral;
  min-height: 10em;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);

  -webkit-box-shadow: 11px 11px 16px 1px rgba(0,0,0,0.76); 
box-shadow: 11px 11px 16px 1px rgba(0,0,0,0.76);

display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 3em 30em;
grid-template-areas: 
  'nav-wrapper nav-wrapper'
  'left-column right-column'
;
}

.nav-wrapper{
  grid-area: nav-wrapper;
  border: 1px dashed lightcoral;
}

.left-column{
  grid-area: left-column;
  border: 1px dashed lightcoral;
}

.right-column{
  grid-area: right-column;
  border: 1px dashed lightcoral;
}

/* ====Body==== */

body {
  background: #c7d6d5;
  overflow-x: hidden;

  padding: 0;
  margin: 0;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}
